<!DOCTYPE html>
<html lang="en">
<head>	
	<title>Quiz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>

<h1>Question:</h1>
<h2>{{ question.question }}</h2>

{% if question.choice_set.all %}
	<form action="">
		{% for choice in question.choice_set.all %}
		    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.cid }}" />
		    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
		{% endfor %}
		<br>
		<input type="submit" class="btn btn-success btn-large" value="Answer" />
		<br><br>
	</form>
	<form action="">
		<input type="submit" name = "modify" class="btn btn-success btn-danger" value="Modify Choices" />
	</form> 
{% else %}
	<p>No options are available. Ttyl</p>
{% endif %}
