<!DOCTYPE html>
<html lang="en">
<head>	
	<title>Quiz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>

<a href="#" class="btn btn-success btn-large">Start Quiz</a>
{% if ques_avail %}
    <ul>
    {% for q in ques_avail %}
        <br /><li><a href="{% url 'detail' q.qid %}/">{{ q.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}
