<!DOCTYPE html>
<html lang="en">

<head>  
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>

{% if ques_avail %}
    <ul>
    {% for q in ques_avail %}
        <br /><h3> <span class="glyphicon glyphicon-asterisk"></span>  <a href="{% url 'detail' q.qid %}" >{{ q.question }}</a></h3>
        <div>
            <a href="{% url 'modify' q.qid %}">
                <input type="submit" class="btn btn-info btn-large" value="Modify Me!" />
            </a>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}
<div align="center">
<a href="{% url 'add'%}">
<input type="submit" class="btn btn-success btn-large" value="Add New Question" /></a>
</div>