<!DOCTYPE html>
<html lang="en">
<head>	
	<title>Quiz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<form action="">
  <div class="form-group">
    <label for="Input_question">Enter Question:</label>
    <input type="question" class="form-control" id="question" placeholder="Enter Question" name="question">
    <br/>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>